{% extends 'plug_in_django_basic.html' %}
{% load sekizai_tags %}
{% load static %}
{% load bootstrap4 %}
{% block contend %}
    <div class="row">
        <div class="col-md-6" style="height: 500px;">
            <canvas id="datachart"></canvas>
        </div>
        <div class="col-md-4">
            <form id="roast_profile_data_form" method="post" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success">save profile</button>
                {% if id %}
                <a class="btn btn-info" href="{% url "coffe_roaster:run_roast" id=id %}">run profile</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript%}
    {% addtoblock "jss" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    {% endaddtoblock %}
    {% addtoblock "jss" %}
        <script>
            $(document).ready(function() {
                var ctx = $('#datachart');

                chart = new Chart(ctx, {
                    type: 'scatter',
                    data: {
                        labels: ["temperature"],
                        datasets: [
                            {data:[],label: "temperature",fill: false,showLine: true,pointRadius: 4,borderColor:"#ff0000"}
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false
                    },
                });

                checkinput();
            });

            let checkinput = function () {
                let data = [];
                var myRe = /\(\d+\.?\d*,\s*\d+\.?\d*\)/g;
                var eles  =$('#id_data').val().match(myRe);
                for(let i=0;i<eles.length;i++){
                    let numbers=eles[i].match(/\d+\.?\d*/g);
                    data.push({x:parseFloat(numbers[0]),y:parseFloat(numbers[1])})
                }
                chart.data.datasets[0].data = data;
                chart.update();
            };

            $('#id_data').bind('input propertychange',checkinput);

            $('#roast_profile_data_form').on("submit", function (){
                let data="";
                for(let i=0;i<chart.data.datasets[0].data.length;i++){
                    data+="("+chart.data.datasets[0].data[i].x+","+chart.data.datasets[0].data[i].y+")"
                }
                $('#id_data').val(data);
            });
        </script>
    {% endaddtoblock %}

{% endblock %}
